body {
    background: url(wheat.png) top left repeat;
    background-position: top left;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

@media only screen and (max-width: 600px) {
    .grow:hover { transform: scale(1.0); }
}